@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    color: #000;
}
.heading {
    text-align: center;
    margin-top: 4%;
    letter-spacing: .3rem;
    word-wrap: break-word;
    line-height: .8em;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
}
.heading img{
    max-width: 90vw;
    display: block;
    margin: auto;
    object-fit: cover;
    opacity: .8;
    height: 60px;
    width: 40px;
}
.container{    
    border: .7em solid white;
    margin-top: 3%;
    margin-left: 31%;
    margin-right: 4%; 
    box-sizing: border-box;
    height: auto;
    width: 500px;
    box-shadow: 10px 10px blue;
    align-items:center;
}
/********************** ****************************/
.temp-value p{
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    text-align: left;
    padding: 10px 0;
    flex-basis: 42%;
}
.temp-value input{
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    font-size: 22px;
    background: #f9f9f9;
    color: #000;
    border: .5px solid gray;
    border-radius: 0.5rem;
}
/******************** *****************************/
#degree{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#degree span{
    flex-basis: 48%;
}
#degree span p{
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: left;
    padding: 5px 10px;
}
#degree span select{
    width: 100%;
    border: 0;
    outline: none;
    font-size : 15px;
    font-weight: 600;
    border-radius: 6px;
    color: #282626;
    background: #90afe9;
    padding: 10px;
    cursor: pointer;
}
/********************* button ***************************/
.btn{
    display: inline-block;
    text-align: center !important;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
}

.btn input{
    position: relative;
    flex-wrap: wrap;
    flex-basis: 35%;

    height: 7vh;
    width: 130px;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 700;
    line-height: .8;
    letter-spacing: .2em;
    margin-right: .5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 5px #999;
    transition: .4s ease all;
} 

.btn:hover{
    opacity: .7;
    color:#90afe9;
}

/****************************** output ************************/
.value {
    align-items: left;
    max-width: fit-content!important;
    font-size: 19px;
    font-weight: 500;
    background-color: transparent;
    outline: none;
    cursor: default;
}
p span::after {
    content: '';
    display: block;
    clear: both;
    padding: .6rem;
    text-align: center;
    transform: translateY(-10%);
}
.value input{
    position: relative;
    font-size: 19px;
    font-weight: 500;
    font-style: none;
    width: calc(100% - 30px);
    height: auto;
    min-height: inherit;
    padding: .5rem;
    line-height: .8;
    letter-spacing: .1em;
    margin: .5rem;
    border: .1rem rgba(0,0,0,.1) !important;
    border-radius: .5rem;
    box-shadow: .2rem .2rem #ccc;
}

@media only screen and (max-device-width: 480px) {
    .output h1,
    p span
    {
        font-size: .8vw;
    }
}


